[submodule "calculadora-Individual-de-Temu"]
	path = calculadora-Individual-de-Temu
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/calculadora-Individual-de-Temu.git
[submodule "Traveler-pets"]
	path = Traveler-pets
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/Traveler-pets.git
[submodule "calculadora-avanzada"]
	path = calculadora-avanzada
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/calculadora-avanzada.git
[submodule "TIFC1-PF-4-2-1---NumbersQuiz_Individual-1.0"]
	path = TIFC1-PF-4-2-1---NumbersQuiz_Individual-1.0
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/TIFC1-PF-4-2-1---NumbersQuiz_Individual-1.0.git
[submodule "Calculadora-JS"]
	path = Calculadora-JS
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/Calculadora-JS.git
[submodule "fizzbuzz"]
	path = fizzbuzz
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/fizzbuzz.git
[submodule "FizzBuzzWoof-generation"]
	path = FizzBuzzWoof-generation
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/FizzBuzzWoof-generation.git
[submodule "SD-04-1ArraysLab-Individual-1.0"]
	path = SD-04-1ArraysLab-Individual-1.0
	url = https://github.com/Labs-de-Generation-Mexico-Java-CH73/SD-04-1ArraysLab-Individual-1.0.git
